<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MovieApp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>🎬 Cineteca</h1>
    <p>Track and manage your favorite films</p>
  </header>


  <main class="main-content">
    {% block content %}{% endblock %}
  </main>
        <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        © 2025 Cineteca WebApp.
    </footer>

</body>
</html>