<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
{% extends "base.html" %}
{% block content %}
	<p></p><br><br>
	<h3>Users</h3>
	<ul class="user-list">
	    {% for user in users %}
	    <li class="user-entry">
	        <a href="{{ url_for('get_movies', user_id=user.id) }}" class="btn">{{ user.name }}</a>
	    </li>
	    {% endfor %}
	</ul>


	<form action="{{ url_for('create_user') }}" method="post" class="add-user-form">
        <h5>Add New User</h5>
        <label for="user">User Name:</label>
        <input type="text" id="user" name="user" class="user-input" required><br><br>
        <input type="submit" value="Create User" class="user-btn">
	</form>



{% endblock %}
</body>
</html>